{%- set external_urls = {
  'github': 'https://github.com/Lightning-AI/litModels',
  'github_issues': 'https://github.com/Lightning-AI/litModels/issues',
  'contributing': 'https://github.com/Lightning-AI/lightning/blob/master/CONTRIBUTING.md',
  'governance': 'https://github.com/Lightning-AI/lightning/blob/master/governance.md',
  'docs': 'https://lightning-ai.github.io/models/',
  'twitter': 'https://twitter.com/LightningAI',
  'discuss': 'https://discord.com/invite/tfXFetEZxv',
  'tutorials': 'https://lightning.ai',
  'previous_pytorch_versions': 'https://lightning-ai.github.io/models/',
  'home': 'https://lightning-ai.github.io/models/',
  'get_started': 'https://lightning.ai',
  'features': 'https://lightning-ai.github.io/models/',
  'blog': 'https://www.Lightning.ai/blog',
  'resources': 'https://lightning.ai',
  'support': 'https://lightning-ai.github.io/models/',
}
-%}
